<div>
    <p><h3>Редактировать ИК-процесс</h3></p>
    <div>

        @{for (int j = 0; j < 12; j++)
            {
                <a href="">ИК-2.1-2020</a>
            }
        }
    </div>
    <p><h3>Название:</h3><input name="nameIK" class="form-control" placeholder="ИК-2.1-2020" style=" width:20%"></p>
    <div id="table" class="table-editable">

        <span class="table-add float-right mb-3 mr-2">
            <a href="#!" class="text-success">
                <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
            </a>
        </span>
        <table class="table table-bordered table-responsive-md table-striped text-center">
            <thead>
                <tr>
                    <th class="text-center" contenteditable="true">Цель процесса, направленная на достижение установленных результатов / исполнители</th>
                    <th class="text-center">Показатель процесса</th>
                    <th class="text-center">Измеряемое значение дляпоказателя процесса</th>
                    <th class="text-center">Измеряемое значение дляпоказателя процесса</th>
                    <th class="text-center">Способ измерения/ Метод анализа</th>
                    <th class="text-center">Целевые значения показателя на конец 2019 г.</th>
                    <th class="text-center">Фактическое значение показателя на май 2018 г.</th>
                    <th class="text-center">Результа-тивность показателя процесса на май 2018 г., %</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="pt-3-half" contenteditable="true"></td>
                    <td class="pt-3-half" contenteditable="true"></td>
                    <td class="pt-3-half" contenteditable="true"></td>
                    <td class="pt-3-half" contenteditable="true"></td>
                    <td class="pt-3-half" contenteditable="true"></td>
                    <td class="pt-3-half" contenteditable="true"></td>
                    <td class="pt-3-half" contenteditable="true"></td>
                    <td class="pt-3-half" contenteditable="true"></td>
                </tr>


            </tbody>
        </table>
        <span>
            <button type="button"
                    class="btn btn-success btn-rounded btn-sm my-0">
                Редактировать ИК-процесс
            </button>
        </span>
    </div>
</div>
            

