@using Microsoft.AspNetCore.Identity
@model SMKMIVLGU.Models.NewRoleViewModel
  
    <div class=" container row box-shadow">       
        <div class=" col-md-4">
            <h3>Новая роль</h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form method="post" asp-controller="RolesManangement" asp-action="AddUserRole">
                <div class="input-group">


                    <input asp-for="nameRole" class="form-control" placeholder="Название роли" />

                </div>
                <br />
                <button type="submit" class="btn btn-primary">Добавить</button>
                <p/>
            </form>
        </div>
        <div class="col-md-8">
            @{Html.RenderPartial("~/Views/RolesManangement/_listRoles.cshtml", (List<IdentityRole>)ViewBag.Roles);}
        </div>
